#
# SPDX-License-Identifier: Apache-2.0
#
# This is the primary configuration file for the Orderer
#

# General section defines the network communication, connection and identity settings
General:
    # Listen address: The endpoint on which to bind locally in order to listen for connection
    # requests from other nodes
    ListenAddress: 0.0.0.0
    
    # Listen port: The port on which to bind locally in order to listen for connection
    # requests from other nodes
    ListenPort: 7050
    
    # TLS: TLS settings for the GRPC server
    TLS:
        # Require server-side TLS
        Enabled: true
        # Require client certificates / mutual TLS for inbound connections
        ClientAuthRequired: false
        # X.509 certificate used for TLS server
        Certificate: /var/hyperledger/orderer/tls/server.crt
        # Private key used for TLS server
        PrivateKey: /var/hyperledger/orderer/tls/server.key
        # Trusted root certificate chain for tls.Certificate
        RootCAs:
          - /var/hyperledger/orderer/tls/ca.crt
        # Set of root certificate authorities used to verify client certificates
        ClientRootCAs:
          - /var/hyperledger/orderer/tls/ca.crt
    
    # Keepalive settings for the GRPC server
    Keepalive:
        # ServerMinInterval is the minimum permitted time between client pings.
        # If a client pings more frequently, the connection is closed
        ServerMinInterval: 60s
        # ServerInterval is the time between pings to clients.
        ServerInterval: 7200s
        # ServerTimeout is the duration the server waits for a response from
        # a client before closing the connection.
        ServerTimeout: 20s
    
    # BCCSP configures the blockchain crypto service providers.
    BCCSP:
        # Default specifies the preferred blockchain crypto service provider to use.
        Default: SW
        SW:
            Hash: SHA2
            Security: 256
            # Location of Key Store
            FileKeyStore:
                KeyStore:
    
    # Authentication contains configuration parameters related to authenticating
    # client messages
    Authentication:
        # the acceptable difference between the current server time and the
        # client's time as specified in a client request message
        TimeWindow: 15m
        
    # Bootstrap file: The file containing the initial configuration block
    BootstrapFile: /var/hyperledger/fabric/config/genesis.block
    
    # Local MSP ID
    LocalMSPID: OrdererMSP
    
    # Local MSP Dir
    LocalMSPDir: /var/hyperledger/orderer/msp

# FileLedger - Contains configuration for the file-based ledger.
FileLedger:
    # Location: The directory to store the blocks in.
    Location: /var/hyperledger/production/orderer

# Operations server configuration
Operations:
    # host and port for the operations server
    ListenAddress: 0.0.0.0:8443

    # TLS configuration for the operations endpoint
    TLS:
        # TLS enabled
        Enabled: false
        
        # Certificate is the location of the PEM encoded TLS certificate
        Certificate:
        
        # PrivateKey points to the location of the PEM-encoded key
        PrivateKey:
        
        # Most operations service endpoints require client authentication when TLS
        # is enabled. ClientAuthRequired requires client certificate authentication
        # at the TLS layer to access all resources.
        ClientAuthRequired: false
        
        # Paths to PEM encoded ca certificates to trust for client authentication
        ClientRootCAs: []

# Metrics provider configuration
Metrics:
    # The metrics provider is one of statsd, prometheus, or disabled
    Provider: disabled

    # The statsd configuration
    Statsd:
        # network type: tcp or udp
        Network: udp

        # statsd server address
        Address: 127.0.0.1:8125

        # The interval at which locally cached counters and gauges are pushed
        # to statsd; timings are pushed immediately
        WriteInterval: 30s

        # The prefix is prepended to all emitted statsd metrics
        Prefix:

# Consensus configuration 
Consensus:
    # The allowed key-value pairs here depend on consensus plugin being used.
    # For etcd/raft, we use following options:
    
    # WALDir specifies the location at which Write Ahead Logs for etcd/raft are
    # written. Each channel will have its own subdir named after channel ID.
    WALDir: /var/hyperledger/production/orderer/etcdraft/wal

    # SnapDir specifies the location at which snapshots for etcd/raft are
    # written. Each channel will have its own subdir named after channel ID.
    SnapDir: /var/hyperledger/production/orderer/etcdraft/snapshot